<head>
{% include "head.html" %}
<title>10 Rockwyn Cres - London, ON</title>
</head>
{% include "headerlittle.html" %}
<body>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1" >10 Rockwyn Cres, London, ON</h1>
          <h1 class="">$298,000 | 3+1 Bed | 2 Bath </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="lead">Contact Warren to book your private showing today.&nbsp;
            <br>519.902.1386&nbsp;
            <br>warren@citybroker.ca
            <br></p><p>Beautiful red brick bungalow in the highly sought after Fairmont subdivision. This home has been extremely well maintained throughout the years. Sellers have completed many updates:&nbsp;Furnace (2014), AC (2015), Roof (2012), some windows,
            Heated Garage (heat pump 2015), Electricity in Shed, Basement has new carpets and paint (2018), In-ground sprinkler system. Basement includes a second kitchen, with gas stove / in-law suite, seller had previously rented to a family member
            for $950 including utilities. Gas fireplace in basement, wood fireplace in main level. All measurements verified by purchaser. The perfect home for a first time buyer and/or family in need of an in-law suite. Move-in condition. </p>
        </div>
        <div class="p-0 col-md-8">
          <img class="img-fluid d-block" src="/static/images/listings/10rockwyncres/IMG_0787.JPG"> </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="p-0 col-md-4 col-6">
          <img src="/static/images/listings/10rockwyncres/IMG_0960.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0796.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0836.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0841.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0845.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0849.JPG" class="img-fluid"> </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="p-0 col-md-4 col-6">
          <img src="/static/images/listings/10rockwyncres/IMG_0850.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0851.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0853.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0855.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0862.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0868.JPG" class="img-fluid"> </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="p-0 col-md-4 col-6">
          <img src="/static/images/listings/10rockwyncres/IMG_0872.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0880.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0884.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0887.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0891.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0895.JPG" class="img-fluid"> </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="p-0 col-md-4 col-6">
          <img src="/static/images/listings/10rockwyncres/IMG_0902.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0910.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0911.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0916.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0922.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0930.JPG" class="img-fluid"> </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="p-0 col-md-4 col-6">
          <img src="/static/images/listings/10rockwyncres/IMG_0954.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0955.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0956.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0957.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0958.JPG" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="/static/images/listings/10rockwyncres/IMG_0959.JPG" class="img-fluid"> </div>
      </div>
    </div>
  </div>

</body>

{% include "footer.html" %}
