 <div class="text-center bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" align="center">
            <h1 class="text-primary text-center">Our goal is to save you money and provide a stress-free transaction.</h1>

          <p class="lead">CityBroker Real Estate is a full service real estate brokerage located in London, Ontario.</p>
		  <p class="lead">The Total Commission is 2.5% + HST, paid on closing.</p>
          <p class="lead">There are no additional costs.</p>
          <p class="lead">We provide all services needed to sell your home. The buyers agent fee is included in the total commission, so you only pay what is advertised.</p>
        </div>
      </div>
</div>
</div>
{% include "reviews.html" %}
<div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3 text-secondary">Everything you'd expect</h1>
        </div>
      </div>
      <div class="row">
        <div class="text-right col-md-6">
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-camera fa-3x"></i></div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Marketing and advertising your home</h4>
              <p></p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-folder-open fa-4x"></i></div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Handling all inquiries</h4>
              <p></p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa  fa-comments fa-3x"></i></div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Showing your home to prospective buyers</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="text-left col-md-6">
          <div class="row my-5">
            <div class="col-2 text-center"><i class="d-block fa fa-phone-square fa-3x"></i></div>
            <div class="col-10">
              <h4 class="text-primary">Following up on all leads</h4>
              <p></p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 text-center"><i class="d-block mx-auto fa  fa-clone fa-3x"></i></div>
            <div class="col-10">
              <h4 class="text-primary">Negotiating on your behalf</h4>
              <p></p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 text-center"><i class="d-block fa  fa-calendar fa-3x"></i></div>
            <div class="col-10">
              <h4 class="text-primary">Helping with all closing arrangements</h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
