    <div class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="static/images/pexels-photo-461024.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Buying</h5>
              <center><a href="{{ url_for('buyers') }}" class="btn btn-outline-primary">Search MLS® Listings</a></center>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="static/images/norbert-levajsics-243763.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Reviews and Testimonials</h5>
              <p class="card-text">See what our past clients are saying.</p>
              <center><a href="https://www.facebook.com/CityBrokerRealEstate/reviews/" class="btn btn-outline-primary" target="_blank">Reviews</a></center>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="static/images/pexels-photo-462358.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Selling</h5>
              <center><a href="{{ url_for('sellers') }}" class="btn btn-outline-primary">Get Comparable MLS® Sales</a></center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
