<div class="bg-dark">
    <div class="container">
      <div class="row">
          <div class="col-md-3"></div>
        <div class="py-1 col-md-3 text-center">
        <a href="tel:2266360570">
        <h6>
        <font color="white"><i class="d-block  fa fa-5x fa-phone"></i><b>226.636.0570</b></font>
    </h6>
        </a>
        </div>

        <div class="py-1 col-md-3 text-center">
            <a href="mailto:admin@citybroker.ca">
            <h6>
            <font color="white"><i class="d-block  fa fa-5x fa-envelope-o"></i><b>admin@citybroker.ca</b></font>
        </h6>
            </a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
