
<header>
{% include "headernav.html" %}

  <div class="py-5 text-center" style="background-image: url(/static/images/pexels-photo-227389.jpeg); background-repeat: no-repeat;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="display-3 mb-4"style="text-shadow: 2px 1px 5px black" align="center"><b>citybroker</b> Real Estate Ltd., Brokerage</h1>
          <h1 style="text-shadow: 2px 1px 5px black" align="center">2.5% Total Commission + HST
            <h2 style="text-shadow: 2px 1px 5px black">No additional costs.</h2>
            <h2 style="text-shadow: 2px 1px 5px black">Locally owned in London, Ontario.</h2> </h1>
          </div>
      </div>
    </div>
  </div>
</header>
