<header>
{% include "headernav.html" %}
  <div class="py-5 text-center opaque-overlay" style="background-image: url(/static/images/pexels-photo-259962.jpeg); background-repeat: no-repeat;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 style="text-shadow: 2px 1px 5px black" class="display-3 mb-4" align="left"><b>citybroker</b> Real Estate Ltd., Brokerage</h1>
          <h1 style="text-shadow: 2px 1px 5px black" align="left">2.5% Total Commission + HST
            <br>Includes Buyer &amp; Listing Agents Fee
            <br>No additional Costs.
        </div>
      </div>
    </div>
  </div>
</header>
