
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-0">
          <div class="card"><a href="#" id="blog1_link">
            <img class="card-img-top" src="#" id="blog1_image">
              <h5 class="card-title text-center m-1" id="blog1_heading"></h5></a>
              <div class="card-body">
              <center>
			  <p class="card-text" id="blog1_snip"></p>
              </center>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="card"><a href="#" id="blog2_link">
            <img class="card-img-top" src="#" id="blog2_image" alt="Card image cap">
              <h5 class="card-title text-center m-1" id="blog2_heading"></h5></a>
              <div class="card-body">
              <center>
			  <p class="card-text" id="blog2_snip"></p>
              </center>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="card"><a href="#" id="blog3_link">
            <img class="card-img-top" src="#" id="blog3_image" alt="Card image cap">
              <h5 class="card-title text-center m-1" id="blog3_heading"></h5></a>
              <div class="card-body">
              <center>
			  <p class="card-text" id="blog3_snip"></p>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
