<head>
{% include "head.html" %}
  <title>Login - CityBroker Real Estate Ltd. Brokerage - London, ON</title>
</head>
{% include "headernav.html" %}
<body>
    <div class="container py-5">
    </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-white p-5 bg-primary">
            <div class="card-body">
              <form action="" method="POST">
                <div class="form-group"> <label for="user">User</label>
                  <input type="text" name="user" class="form-control" placeholder="Username" required> </div>
                <div class="form-group"> <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Password" required> </div>
                <button type="submit" class="btn btn-secondary">Login</button>
              </form>
                              {% with messages = get_flashed_messages() %}
                              {% if messages %}
                              {% for message in messages %}
                              <p style="color: white"><b>{{ message }}</b></p>
                              {% endfor %}
                              {% endif %}
                              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% include "footer.html" %}
