<div class="py-5 bg-light text-dark text-center">
    <div class="container"><h2 align="center">Bank of Canada News</h2><br>
      <div class="row">

        <div class="col-md-6" align="center" id="interestrates">
		<h4>Interest Rate Announcements</h4>
		 <div id="irtable">
             Interest Rates Table
         </div>
		</div>
		<div class="col-md-6" align="center" id="bocblogs">
		  <a href="#"target="_blank" id="boc1_link"><h5><b id="boc1_title"></b></h5></a>
          <p class="mt-1" id="boc1_snip"></p>
		  <a href="#"target="_blank" id="boc2_link"><h5><b id="boc2_title"></b></h5></a>
          <p class="mt-1" id="boc2_snip"></p>
		  <a href="#"target="_blank" id="boc3_link"><h5><b id="boc3_title"></b></h5></a>
          <p class="mt-1" id="boc3_snip"></p>
		</div>
      </div>
    </div>
  </div>

<div class="py-5 bg-light text-dark text-center">
  <h2 align="center">Tarion New Home Warranty News</h2><br>
    <div class="container">
      <div class="row">

        <div class="col-md-4 my-3">
          <a href="#"target="_blank" id="tarion1_link"><img class="img-fluid d-block mb-4" src="" id="tarion1_image">
          <h5><b id="tarion1_title"></b></h5></a>
          <p class="mt-1" id="tarion1_snip"></p>
        </div>

        <div class="col-md-4 my-3">
          <a href="#"target="_blank" id="tarion2_link"><img class="img-fluid d-block mb-4" src="" id="tarion2_image">
          <h5><b id="tarion2_title"></b></h5></a>
          <p class="mt-1" id="tarion2_snip"></p>
        </div>

        <div class="col-md-4 my-3">
          <a href="#"target="_blank" id="tarion3_link"><img class="img-fluid d-block mb-4" src="" id="tarion3_image">
          <h5><b id="tarion3_title"></b></h5></a>
          <p class="mt-1" id="tarion3_snip"></p>
        </div>

      </div>
    </div>
</div>
