<html>
<head>
    {% include "head.html" %}
    <title>Our Work - CityBroker Real Estate Ltd. Brokerage - London, ON</title>
</head>
{% include "headerbig.html" %}
<body>
    <div class="container-fluid">
	<div class="row" id="listings-div">
        <div id="old"></div>
		<div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/5934stjames.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
		<div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/346homestead.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>

        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/1.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/2.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/4.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/11.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/12.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/13.jpg" class="img-fluid" height="" width="">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>


        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/22.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/32.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/33.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/111 (2).jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/111.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/121.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>

        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/221.JPG" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/322.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/1111.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/newest/3221.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/1.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/11 (2).jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>

        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/232.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/322.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/2015.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/9999.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/2222 (2).jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/2222.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>

        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/4124 (2).jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/4124.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
        <div class="p-0 col-md-4 col-6">
          <div class="container">
            <img src="../static/images/sales/oldest/23444.jpg" class="img-fluid">
            <div class="overlay">
              <div class="text">SOLD</div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script>const listingsJSON = {{ all_listings | safe }}.reverse()</script>
<script src="static/js/scripts/ourwork.js"></script>
{% include "footer.html" %}
</body>

</html>
