 <div class="text-center bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="https://www.facebook.com/CityBrokerRealEstate/reviews/" target="_blank">
            <h1>Our Reviews</h1>
          </a>
          <p class="lead">What Our Past Clients Say on Facebook</p>
        </div>
      </div>
      <div class="row border border-primary">
        <div class="col-md-12 bg-primary text-white">
          <div class="carousel slide" data-ride="carousel" data-interval="12000" id="WoodCarousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <p class="my-4"><i><span style="font-style: normal;">Warren worked very hard to help me find my perfect home in only 12 days!!!!. He stayed in touch with me often, answering any question that I had. It had been a very long time since I bought a house, Warren made it so easy and much less stressful.
            He will always be my Realtor!! Thank you Warren. </span></i></p>
                <p><b>Randy Bettinger</b></p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;">Warren makes the house hunt and entire buying process very convenient and painless. He is always available for a phone call, or a quick email to answer any questions i may have. He is very knowledgeable, organized and thorough. His online Authentisign program made signing offers back an forth a breeze as I am from out of town, being able to sign an offer right from my phone was much easier then putting pen to paper. Thanks for your help Warren!!</span></i></p>
                <p><b>Craig Van Dolder</b></p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><i><span style="font-style: normal;"><br>I had the pleasure of working with Warren this year and was very pleased with his diligence and the persistent effort he made in searching out a rental property that met my expectations. Warren worked for a period of 8 months to find the properties that finally closed this past August. I have worked with other agents over the past 3 years and none were as committed to their work.&nbsp;<br>Warren takes the time to understand his client’s needs and to help identify possible problems that may exist with the viewed properties. This demonstrates his commitment to first and foremost, meet the needs of his clients. I look forward to working with Warren in the future and would recommend Warren and his the services to anyone looking to purchase property.
Thanks Warren!
</span></i></span>
                  </i>
                </p><i>
          <p><b>David Couto</b>&nbsp;
            <br>Building Services Supervisor&nbsp;
            <br>L.D.C.S.C.B</p>
        </i> </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>Warren got my home sold while I was out of province and I always felt reassured that everything was being well taken care of in my absence. Warren is dilligent, trustworthy and I highly recommend him as an agent.</span></i></p>
                <p><b>Deneice Williams</b>
                  <br> </p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>I found Warren to be very trustworthy. He made selling my house a partnership with him. We were in regular contact, and he always followed through on his promise to help with issues that came up. He did not make it seem like it was about the money, but more about doing it together. I strongly recommend Warren to other people selling their house.</span></i></p>
                <p><b>Clay Hamilton</b>
                  <br> </p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>Warren is a great realtor. Trusted him through the entire process and he got me a great price!</span></i></p>
                <p><b>Nick Cright</b></p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>Warren was an awesome real estate agent! He worked hard and we found my house in only 3 days!!</span></i></p>
                <p><b>Amy Flannery</b></p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;">Warren was very professional to work with.  Quick response time to important questions and is very knowledgeable about real estate.  Would highly recommend.</span></i></p>
                <p><b>Jay Thompson</b></p>
              </div>

              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>Warren helped us buy our 2nd income property. He was like a hound dog searching for the perfect income property for us. We will highly recommend him to friends and family looking for a house in the London area. You can count on profession friendly service and a guy that really knows his business.</span></i></p>
                <p><b>Amy Cassar-Gavigan</b></p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>Hi all,
I just recently worked with Warren John. He helped me lease 209 Wellington St. London, ON. Professionally, I had a great experience with him and we've remained friends to this day. He helped us get the price &amp; term I was looking for with some other bonus features that were nice. I would highly recommend working with Warren if you are in London Ontario or the surrounding area!
</span></i></p>
                <p><b>Drew Jenkins</b></p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>Warren was an awesome real estate agent! As we are first time home buyers, and moving from Manitoba, Warren made an easy adjustment for us, and represented us well during the process. With his dedication we were able to view, settle an offer, and do an inspection all in one weekend which was a major save for us as we were only in London for two days. Thank you Warren for your dedication and willingness to work with us Manitobans!</span></i></p>
                <p><b>Kirsten Bruce</b></p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>We are a military family being posted to London in June. We realized we made a good choice in Warren for a real estate agent when we were given one week to buy a house. He never wavered under the pressure showing us 18 houses in two days. He was patient and professional at all times. We thoroughly enjoyed working with him and we would recommend him to anyone looking to buy a home. 
Thank you Warren for your dedication on finding us a great home!
</span></i></p>
                <p><b>Debora McIntosh Moes</b></p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>I would absolutely recommend Warren to anyone moving to London. I was moving to London from Timmins, ON and asked a friend, who lives here, who he would recommend; Warren was his answer. This man is a work horse and will keep at it until you find the house you want! I had to close a deal in less than a month and had very specific things I require in a house - needless to say - we made it happen.
I have recommended him to my HR person at the place I work and will definitely pass his name along!&nbsp;</span></i>&lt; </p>
                <p><b>Jerry K. Janik</b></p>
              </div>
              <div class="carousel-item">
                <p class="my-4"><i><span style="font-style: normal;"><br>Warren helped me with buying my first home and despite any challenges that were thrown at us, he was extremely dedicated. He is also very honest, reliable and worked very hard to ensure that I understood and was comfortable with the whole home-buying
            process. His first priority seemed to be making sure that I was happy with the agreement and that all checks and balances were in order. I am extremely pleased with how things turned out and I would definitely recommend Warren to friends &amp;
            family, or anyone looking to purchase property!</span></i></p><i>
          <p class=""><b>Zandra Khan</b></p>
				</i></div>
			  
				<div class="carousel-item">
				<p class="my-4"><span style="font-style: normal;"><br>Awesome agent to work with. Have done many of home inspections for Warren and his clients.</span></p>
  <p><b>Troy Simmers-Vanhevel</b></p>
				</div>
			  
				<div class="carousel-item">
				<p class="my-4"><span style="font-style: normal;"><br>Absolutely a trustworthy person who's always here to help!</span></p>
    <p><b>Majed Abdullah</b></p>
				</div>
				
			    <a class="carousel-control-prev" href="#WoodCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
				<a class="carousel-control-next" href="#WoodCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
				
		    </div>        
          </div>
		  
        </div>
		</div>
  </div>
</div>