  <div class="py-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7">
          <h2 class="text-primary text-center"><span style="font-style: normal;">About </span></h2>
          <p class="" align="center">Warren John is the Broker of Record for CityBroker Real Estate Ltd., a full service real estate brokerage located in London, Ontario.
		  <br><br> We are committed to providing a standard of excellence to the consumer and use every resource available to ensure that our clients are completely satisfied with the transaction, beginning to end. <br><br> <b>Warren John <br> 226-636-0570 <br> admin@citybroker.ca</b>
		  </p>
        </div>
        <div class="align-self-center col-md-5">
          <img class="img-thumbnail" src="static/images/photowarren.jpg"> </div>
      </div>
    </div>
  </div>
